.User-session
  = render 'shared/header'
  .User-session__title
    %i.fa.fa-user &nbsp; ログイン
  .User-session__main
  = form_with model: @user, as: resource_name, url: session_path(resource_name), local: true, class: "User-session__main" do |f|
    .field
      %label.label email
      %br
      = f.email_field(:email, autofocus: true, autocomplete: "email", class: "text-field", placeholder: "PC・携帯どちらでも可")
      %br
      %br
      %label.label password
      %br
      = f.password_field :password, autocomplete: "current-password", class: "text-field", placeholder: "6文字以上"
    %br
    新規登録は
    = link_to "こちら", new_user_registration_path, class: "devise-links"
    %br
    パスワードを忘れた方は
    = link_to "こちら", new_user_password_path, class: "devise-links"
    %br
    %br
    .User-registration__main__submit
      = f.submit "送信", class: "submit-button"
= render 'shared/footer'
